/*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="" href="CSS基础.css">

<!-- rel:表明当前文档和外部资源的关系
        alternate：链接到文档的替代版本
        archives：链接到文档集或历史数据
        author：提供指向文档作者的链接
        bookmark：定义文档在收藏夹中显示的书签图标
        canonical：指明网站的规范版本
        dns-prefetch：指定浏览器预先执行目标资源的DNS解析
        external：链接到外部，即告知搜索引擎，此链接不是本站链接
        first：链接到集合中的首个文档
        help：链接帮助信息
        icon：定义网站或网页在浏览器标题栏中的图标
        license：链接到文档的版权信息
        last：链接到集合中的末个文档
        nofollow：指定文档不被搜索引擎跟踪，即某些页面不被爬虫抓取
        next：记录文档的下一页（浏览器可以提前加载此页）
        noreferrer：可以阻止浏览器发送访问来源信息
        preload：对资源进行预加载
        pingback：提供处理当前文档的pingback服务器地址
        prefetch：对资源进行预加载并缓存，通常preload用于加载当前页面的资源，而prefetch用于加载将来页面可能需要的资源
        preconnect：预先连接到目标资源的地址
        prev：记录文档的下一页
        search：链接到文档的搜索工具
        stylesheet：指定作为样式表的外部资源
        sidebar：指定浏览器边栏中显示的文档
        tag：指定当前文档使用的标签、关键词
        up：指向一个文档，此文档提供此网页的上下文关系
type:说明外部资源的MIME类型，text/css等-->

<body>
    <!-- CSS样式：选择符和声明构成。声明：属性名和属性值 -->
     <h3>校园网</h3>
</body>
</html>
<!--
1.行内式（在标签内添加样式，pass）
2.嵌入式（在head中使用选择器添加样式）
3.外部式（关联CSS文件，Link）
css样式优先级
内联式 > 嵌入式 > 外部式
-->*/

/* 选择器{
            样式；
            } 
一.基础选择器
        -标签（元素）选择器（修改共有部分）标签名{css属性名：属性值}
        -id（身份证号不能重复）选择器（可以设置唯一特性）#id属性值{css属性名：属性值;}
                    <style>
                      #one{
                          color: red;
                           }
                    </style>
                <body>
                    <div id="one">
                          id选择器
                    </div>
                </body>

        -类（class）选择器（可以给不同的标签设置共同的属性）.类名{css属性名：属性值；}
        -类选择器：<style>
                      .one{
                          color: red;
                          }
                  </style>
            <body>
                <div class="one">
                    类选择器
                </div>
            </body>

二.高级选择器       
-后代选择器（针对于在嵌套中的标签）
        div a{
               样式；        
                }

-子代选择器（针对有多个同级div嵌套的情况时，处理目标）
        <div>
             <p>
                <a>元素</a>
             </p>
        </div> 
        <div class="wrap">
             <p>
                <a>元素</a>
             </p>
        </div> 

        .wrap>a{(带大于号亲儿子)
                样式；
                }

-组合选择器
        h3,span{
                样式；
                }

-交集选择器(之间没有任何东西隔开，紧挨着的.交集选择器中如果有标签选择器，标签选择器必须放在前面)
        选择器1选择器2{
                        样式；
                        }

-并集选择器
        选择器1，选择器2{
                        样式；
                          }

-伪类选择器()
        针对a标签（爱恨准则 LoVe HAte）
        没有被访问过a的状态(标签呈现橙色)
        a:link{
          color:orange;
        }
        访问过后的a的状态（标签呈现绿色）
        a:visited{
          coloer:green;
        }
        鼠标悬浮时标签的状态()
        a:hover{
          color:black;         
        }
        鼠标长按标签时的状态(标签长按时呈现紫色)
        a:active{
          color:purple;
        }
        特殊的
        div:hover span{
            样式；
        }

特性
    -继承性(嵌套的标签继承div父辈祖辈的属性样式)
    <div>   (border无法继承)
      <p>
        A
      </p>
    </div>

    -权重（类选择器权重一定大于标签选择器）
    内联选择器（1000）> id选择器（100) > 类选择器(10) > 元素选择器(1)
    !important(破坏全局，权重最大)

 字体属性:
          font-family（字体）
            body{
                  font-family:"字体（word文档里字体类似+还要设置备用字体）";
                  }
          
          font-size
            body{
                  font-size:16px(绝对值，像素单位em，rem);
                  }        

          颜色：color:red;
               1.rgb( , , );-->rgb(255,255,255)白色(0-255颜色比例)
               
               2.rgba(255,255,255,5)a=alpha透明度

               3.#FF5459(十六进制)

          font-style:normal(默认)
                    :italic(斜体字)

          text-weight:normal=400(默认)
                细<—400—>粗(100-900)

          text-decoration:none;(默认无效果)
                         :underline;(下划线)
                         :overline;(上划线)
                         :line-throngh(删除线)

          text-indent:16px(缩进一个字)32px(缩进两个字)->取决于字体设置大小
                      1em=16px

          line-height:60px(行距，行距中显示字体)
                     字体大小<<行高
                     
          letter-spacing:5px(字距)中文
          word-spacing:10px(字距)英文

          text-align:center;水平居中垂直对齐
                    :left(左对齐，默认)
                    :righ;(右对齐)

元素标签分类
      块级:<div><ul><ol><p><h><><table><form>
          独占一行，可设置宽高（默认：100%）
      行内:<a><span><em><label><strong>
          在一行显示，不能设置宽高，默认为文本内容默认占据宽高
      行内块：<input><img>
          在一行内显示，可以设置宽高

盒模型的属性：
            内容的宽高(weight,height)-->设置的内容的宽高
            内边距(padding)
            外边距(margin)
            边框(border)

          内边距（padding）
          padding-top-->顶部
          padding-left-->左边
          padding-right-->右边
          padding-bottom-->下边
          
          设置两个值（上下 左右）
          padding:30px 40px;

          设置三个值(上 左右 下)
          padding：30px 40px 50px;

          设置四个值(上 右 下 左)
          padding:30px 30px 40px 50px;


          外边距(margin)
           box1+box2=30px (左右两边)
          （box1）margin-right:10px;
          （box2）margin-left:20px;
          
          box3+box4=20px(上下两边)
          (box3)margin-top:10px;
          (box4)margin-bottom:20px;
          外边距塌陷：垂直方向会出现外边距合并(尽量设置一个方向上的外边距，防止外边距塌陷)


          边框(border)
          border:1px solid red;
          三要素：粗细(width) 样式(style) 颜色(color)

          border-width:4px;
          border-style:solid;  (多值同上) 缩写bwt.....
          border-color:red;

          样式：solid(实线) dotted(点线) double(双线) dashed(虚线)

    

















                                */
